<?xml version="1.0" encoding="UTF-8"?>
<!-- @author <a href="https://github.com/liyupi">程序员鱼皮</a> -->
<!-- @from <a href="https://yupi.icu">编程导航知识星球</a> -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.UserNewMapper">
    <resultMap id="userNewExpandJson" type="com.yupi.springbootinit.model.entity.UserNew">
        <id property="userId" column="userId" />
        <result property="userName" column="userName" />
        <result property="password" column="password" />
        <result property="isDeleted" column="isDeleted" />
        <association property="homeAddr" javaType="com.yupi.springbootinit.model.entity.Address">
            <result property="province" column="homeProvince" />
            <result property="city" column="homeCity" />
            <result property="street" column="homeStreet" />
        </association>
        <association property="workAddr" javaType="com.yupi.springbootinit.model.entity.Address">
            <result property="province" column="workProvince" />
            <result property="city" column="workCity" />
            <result property="street" column="workStreet" />
        </association>
    </resultMap>
</mapper>
